<nav>
    <span id="leftlinks">
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}><button class="navbutton">{{ item.name }}</button></a>
        {% endfor %}
        <div class="dropdown">
            <a href="/chiasmata/archive"{% if page.url == "/chiasmata/archive.html" %}class="current"{% endif %}><button class="dropbtn">Chiasmata</button></a>
            <div class="dropdown-content">
              <a href="/chiasmata/archive">Archive</a>
              <a href="/chiasmata/cast">Cast</a>
              <a href="/chiasmata/blog">Blog</a>
            </div>
          </div> 
    </span>
    <span id="rightlinks">
        <a href="http://k25ff.tumblr.com"><img src="/assets/images/tumblr.png" alt="Tumblr"></a>
        <a href="https://bsky.app/profile/k25ff.bsky.social"><img src="/assets/images/bsky.png" alt="Bluesky"></img></a>
        <a href="http://twitter.com/k25ff"><img src="/assets/images/twitter.png" alt="Tumblr"></a>
    </span>
</nav>