<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body class="{{ page.body_class }}">
        {% include navigation.html %}
        {% include navbar.html %}
    <section id="content">
        <section id="page">
            <h1>>{{ page.title }}</h1>
            {{ content }}
            {% if page.next_in_category != null %}
              </br>
              <h2>><a href="{{ page.next_in_category.url }}">{{ page.next_in_category.title }}</a></h2>
            {% endif %}
        </section>
    </section>
    {% include navbar.html %}
  </body>
</html>